.footer {
  margin-top: 3vh;
  font-size: 0.75em;
  line-height: 1em;
  font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
  text-align: center;
  padding-bottom: 25px;
  color: black;
}

span {
  font-weight: bolder;
  text-decoration: none;
  color: black;
}